<!-- <ion-page>
  <ion-header>
    <ion-toolbar>
      <ion-title>login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>

  </ion-content>
</ion-page> -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  The login is your oyster shell.

  <button ion-button full (click)="doLogin()">Login</button>

  <p>If you get lost, the <a target="_blank" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>

  <img src="../assets/jpg/Birth_of_Venus.jpg"/>

  <p><a href="https://commons.wikimedia.org/wiki/Category:The_Birth_of_Venus_(Botticelli)">
    Birth of Venus</a></p>

</ion-content>
