p {
    color: red;
}

page-home {

    .scroll {
      background: greenyellow;
    }

    .toolbar-background {
        background: transparent;
        border-color: transparent;
    }
    
}

//img {
//    transition: all 1.5s ease;
//    margin: 5px;
//}

//img:hover {
//    transform: rotate(180deg) ;
//}
